:root {
    --font-family: "Montserrat";
    --text-colorPrimary: #ffffff;
    --text-colorSecondary: rgba(18, 18, 18, 1); 
  
    --dark--background: rgba(18, 18, 18, 1);
    --light-background: rgba(255, 255, 255, 1);
  }

  .dark{
    background-color: rgba(18, 18, 18, 1);
    color: #ffffff;
  }
 .dark a{
    color: white;
  }
  .light{
    background-color: rgb(255, 255, 255);
    color: black;

  }
  .light a{
    color: black;
  }